<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if logged_in? %>
    <marquee behavior="alternate" direction="left"><%= current_user.user_name %></marquee>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout">
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Login</a>
    <% end  %>
  






    <%= yield %>
  </body>
</html>
